@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn-primary {
        @apply border border-paper hover:bg-paper hover:text-fern transition duration-300 ease-in-out p-2;
    }
    .btn-text {
        @apply x-underline;
    }
    .x-underline {
        display: inline-block;
        position: relative;
        @apply text-paper;
      }
      
      .x-underline:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 1px;
        bottom: 0;
        left: 0;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
        @apply bg-paper;
      }
      
      .x-underline:hover:after {
        transform: scaleX(0);
        transform-origin: bottom left;
      }
}